VITE_SUPABASE_URL=https://tbptlrewwxhggxxfdiks.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRicHRscmV3d3hoZ2d4eGZkaWtzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2OTYzMTksImV4cCI6MjEwNTI3MjMxOX0.lYDOQbBWj4ZEHD2VkBfKtl1mTnSXlIGmkPb2dt6B4lU
VITE_VAPID_PUBLIC_KEY=BNCvdPvlP_M9lwrG2T-jTifo4r0xhDxPQfYUFtzP4y6oArm7d6e7T0P2v_wb4UaD0FXmfZJvJNOXUErFShlcaDw
